.head {
    font-family: 'Myriad Pro';
    font-size: 18px;
    padding: 2px;
    text-align: center;
}
.section {
    border: 90% ;solid:black;
    background-color: #22B573;
   	margin: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 40px;
    padding: 40px;
    padding-top: 50px;
}
.arrow {
    width: 100px;
    height: 50px;
    float: right;
}
.nav{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Myriad Pro';
    margin-left: 20px;
}
.ltisd {
    background-color: #FCEE21;
    width: 40%;
    padding: 23px;
    font-family: 'Myriad Pro';
    display: inline-block;
    margin-left: 40px;
    float: left;
}
.rt {
    padding-left: 33px;
    padding-bottom: 33px;
    float: right;
    display: block;
    margin-right: 19px;
}
  .nav li{
	display:inline-block;
	padding-right: 70px;
	width: 40px;
}
.clear:after{
	content:'';
	clear: both;
	display: block;
}